.movie_banner_wrapper {
}
.movie-title {
    color: var(--priamry-text);
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.movie__num-page {
    padding: 10px 15px;
    border: 1px solid;
    cursor: pointer;
}
.movie__pagination {
    display: flex;
    justify-content: center;
}
