.wrapper {
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 4;
}
.video-poster {
    width: 400px;
}
.video-poster img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.video-esp_num {
    padding: 1rem;
    transition: all linear 0.2s;
    border-radius: 4px;
    margin: 0.2rem 0.3rem;
    &:hover {
        background-color: rgb(183, 115, 66);
        color: beige;
    }
}
.video-detail {
    display: flex;
    justify-content: space-between;
}
.video__title {
    padding: 5px;
}
